{
  "FIREBASE_API_KEY": "AIza...",
  "TEST_PROFESSOR_EMAIL": "professor@suaescola.com",
  "TEST_PROFESSOR_PASSWORD": "senha-do-professor",
  "TEST_GESTOR_EMAIL": "gestor@suaescola.com",
  "TEST_GESTOR_PASSWORD": "senha-do-gestor",
  "TEST_SECRETARIA_EMAIL": "secretaria@suarede.com",
  "TEST_SECRETARIA_PASSWORD": "senha-da-secretaria"
}
